*.*proj.user
*.dbmdl
*.jfm
.classpath
.dockerignore
.env
.env.*
.git
.gitignore
.project
.settings
.toolstarget
.vs
.vscode
Dockerfile*
azds.yaml
bin
charts
docker-compose*
node_modules
npm-debug.log
obj
secrets.dev.yaml
values.dev.yaml

# Ignore test files
TestResults
*.tests.cs

